html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

body {
    font-family: 'Open Sans', sans-serif;
    width: 1445px;
    margin: auto;
}

/* font-family: 'Gilroy-Bold', sans-serif;
    font-family: 'Gilroy-Heavy', sans-serif;
    font-family: 'Gilroy-Light', sans-serif;
    font-family: 'Gilroy-Medium', sans-serif;
    font-family: 'Gilroy-Regular', sans-serif; */

footer {
    height: 622px;
}

.menu {
    width: 944px;
    margin: 34px auto 32px;
    display: flex;
    justify-content: space-between;
}

.menu-bk {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
    font-weight: bold;
    text-decoration: none;
}

.menu-gr {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #828282;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.menu-gr:hover {
    color: #070707;
}

.nav-ul {
    display: flex;
    justify-content: space-between;
    background-color: yellow;
}

.hr-header {
    width: 941px;
    height: 0px;
    border: 1px solid #828282;
}

.main-cestion {
    width: 944px;
    margin: 40px auto 104px;
}

.main-about {
    display: flex;
    justify-content: space-between;
    margin-bottom: 31px;
    align-items: center;
}

.Denis-Novik {
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: #070707;
}

.ux-designer {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
    }

.translate {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
    transform: rotate(-90deg);
    cursor: pointer;
}

.translate:hover {
    color: #070707;
}

.aboutme {
    /* height: 506px; */
    width: 944px;
    margin: auto;
    padding-top: 121px;
    padding-bottom: 104px;
}

.aboutme-h2 {
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
    margin-bottom: 69px;
}

.aboutme-text {
    width: 486px;
    margin: 18px auto 84px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;
}

.adobe-apps {
    height: 90px;
    width: 90px;
 
}

.about-programms {
    display: flex;
    justify-content: space-around;
}

.backgroundcolor-ps {
    background: radial-gradient(75.99% 75.64% at 32.94% 22.44%, rgba(52, 54, 78, 0.98) 0%, #0C0824 100%);
}

.backgroundcolor-ai {
    background: radial-gradient(76% 75.63% at 32.97% 22.44%, rgba(66, 51, 37, 0.98) 0%, #1C0A00 100%);
}

.backgroundcolor-ae {
    background: radial-gradient(76% 75.63% at 32.97% 22.42%, rgba(68, 47, 85, 0.98) 0%, #12002C 100%);
}

.backgroundcolor-figma {
    width: 90px;
    height: 90px;
}

.programms {
    width: 1445px;
    height: 610px;
    padding: 91px 200px 110px;
}

.about-background {
    width: 100%;
    background-color: #F6F6F6;
}

.programms-wrapper {
    text-align: center;
    }

.programms-description {
    font-weight: 700;
    color: #828282;
    font-size: 14px;
    line-height: 17px;
    margin: 24px 40px;
}

.portfolio {
    padding-top: 113px;
    padding-bottom: 45px;
    padding-left: 255px;
    padding-right: 255px;
}

.img-portfolio {
    display: flex;
    flex-direction: column;
    }

.ahref {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    color: #070707;
    margin: 44px auto 90px;
}

.contacts {
    width: 345px;
    height: 355px;
    margin: 114px auto 123px;
    text-align: center;
}

.contacts-h2 {
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    
    color: #070707;
    margin-bottom: 40px;
}

.contacts-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    
    color: #070707;
}

.contacts-like {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    
    color: #828282;
    margin-top: 45px;
}

.button {
    width: 180px;
    height: 42px;
    background-color: #070707;
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    margin: 29px auto 91px;
}

.button:hover {
    background-color: #828282;
}